{% extends 'main/basic.html' %}
{% block body %}
{% load static %}

<!-- Reset Done Area Start -->
<div class="contact-area">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="contact-form">
                        <div class="contact-title mb-30">
                            <h2 class="title">Password Reset Sent!</h2>
                        </div>
                        <p class="form-messege">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                        <p class="form-messege">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reset Done Area End -->

{% endblock %}