{% extends 'main/basic.html' %}
{% block body %}
{% load static %}

<!-- Reset Form Area Start -->
<div class="contact-area">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="contact-form">
                        <div class="contact-title mb-30">
                            <h2 class="title">Forgot Password</h2>
                            <h7>You will receive instructions for resetting your password.</h7>
                        </div>
                        <form class="contact-form-style" method="post">
                            {% csrf_token %}'
                            
                            <div class="row" style="display: flex; justify-content: center;">
                                <div class="col-lg-8 default-form-box mb-20">
                                    {{form.as_p}}
                                </div>
                                <div class="col-lg-8 text-center">   
                                    <button class="btn btn-primary" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reset Form Area End -->

{% endblock %}